header{
    background: none;
}

header h1{
    line-height: 1em;
    font-size: 4em;
}

#menu{
    float:none;
    width:90%;
    padding-top: 0.5em;
}

aside{
	float: none;
    width: auto;
    margin: 0em;
    padding: 0.3em;
}

main{
    margin-left: 0em;
}

footer{
    display: flex;
}

footer img{
    width: 20%;
}
