header{
    background: none;
}

header h1{
    line-height: 1em;
    font-size: 4m;
}

#menu{
    float: none;
    width: 90%;
    padding-top: 0.5em;
}

aside{
    float: none;
    width: auto;
    margin: 0em;
    padding: 0.3em;
}

main{
    margin-left: 0em; /*lo zero può non avere una unità di misura*/
}

footer .imgValidCode{
    width: 20%;
}

footer{
    display: flex;
}
