* {
	padding: 0em;
	margin: 0em;
}

html, body{
	font-size: 12pt;
	font-family: "Times New Roman", serif; /*Font con le grazie e standard*/
	line-height: 1.5em;
	margin: auto;
}

/*
==============
SEZIONE HEADER
==============
*/

header{
	text-align:  center;
	padding:  1.0em 0em 1.0em 0em;
	margin-top: 0.5em;
    margin-bottom: 0.5em;
}

header img{
    padding-right: 4em;
}

header h1{
    content: url('images/logo_fipav.svg'); /*Stampa l'immagine in nero come contenuto e non come background*/
	font-size: 6em;
    line-height: 1.5em;
}

header h2{
	font-size:  1.2em;
	padding: 0.5em;
	margin-top:  0.3em;
}

/*
==============
SEZIONE MENU
==============
*/

#menu{
	display: none;
}

/*
==============
SEZIONE NEWS
==============
*/

aside{
    float:right;
    width: 20%; 
    padding: 0.8em;
    margin:1.5em;
    border:1px solid #000;
}

aside h2 {
	padding: 0.2em;
}

aside dl dd {
	margin-left: 1.5em;
}

aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}

/*
==============
SEZIONE CONTENUTO
==============
*/

main{
	text-align: justify;
	width: auto;
	padding: 1.75em;
	border: 1px solid;  
}

main h1{
	font-size: 2.3em;
	padding: 0.7em;
	padding-top: 0.1em;
	margin-bottom: 1em;
	text-align: center;
	line-height: 1.5em;
}

main h2{
	font-size: 1.8em;
	padding: 1em 0em;
}

main>dl{
	width: 95%;
}

#giocatori>dt{
	font-size: 1.1em;
	padding: 0.5em;
	border: 1px ;
	margin-top: 1em;
}

#giocatori>dd{
	border: 1px ;
	border-top: none;
	padding: 0.5em;
}

#giocatori>dd img{
	float: left;
	width: 20%;
}

#giocatori>dd dl{
	margin-left: 25%;
}

.giocatore dt{
	float: left;
	font-weight: bold;
	padding-right: 0.5em;
}

.giocatore dt::after{
	content: ": "; /*aggiunge i due punti dopo il nome del giocatore*/
}

#de_giorgi{
    width:35%;
    float:left; 
    padding: 1em;
    border-radius: 0% 30% 30% 0%;
}

dt.riconoscimenti{
	float: none; 
}

/*FOOTER*/
footer{
    display: none;
    text-align: center;
    padding: 1.0em;  
    border: 1px ;   
}
