* {
	padding: 0em;
	margin: 0em;
}

:root{
	--bgcolor: #0365AE;
	--txtcolor: #fff;
	--breadcolor: #163f77;
	--newscolor: #F3C42B;
	--newstxtcolor: #000;
	--contentxtcolor: #000;
	--contentbgcolor: #fff;
	--linkcolor: #fff;
	--visitedcolor: #F3C42B;
}

html, body{
	font-size: 100%; /* Lascio libertà all'utente*/
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

html{
	background-image: url('images/bg.webp');
	background-size: contain;
}

/*
==============
GRID LAYOUT
==============
*/

body{
	max-width: 1024px;
	border:  1px solid var(--contentxtcolor);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "h h"
    "b b"
    "m c"
    "f f";
}

#homePage{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h h h"
        "b b b"
        "m c n"
        "f f f";
}

/*
==============
SEZIONE HEADER
==============
*/

header{
	grid-area: h;
	color: var(--txtcolor);
	text-align:  center;
	padding:  1.0em;
	padding-top: 0.7em;
	background: url('images/giannellipalleggio.jpg') right bottom no-repeat,
				url('images/michielettocoppa.jpg') left bottom no-repeat;
	background-size: 20%,20%;
}

header h1{
    background-image: url('images/logo_fipav.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px; 
	line-height: 1.5em;
	font-size: 6em;
}

header h2{
	font-size: 1.8em;
	padding: 0.5em;
	margin-top: 0.3em;
}

/*
==============
SEZIONE BREADCRUMB
==============
*/

#breadcrumb{
	grid-area: b;
	background-color: var(--breadcolor);
	color: var(--txtcolor);
	font-size: 1.1em;
	padding: 0.5em 0em 0.5em 1.0em;
	border:  1px solid var(--contentxtcolor);
}

#breadcrumb a:link{
	color: var(--linkcolor);
}

#breadcrumb a:visited{
	color: var(--visitedcolor);
}

/*
==============
SEZIONE MENU
==============
*/

#menu{
	grid-area: m;
	font-size:  1.3em;
	padding:  0.8em;
	width: 25%; /* la somma non deve fare 100 per gli effetti degli arrotondamenti */
}

#menu a:link{
	color: var(--linkcolor);
}

#menu a:visited{
	color: var(--visitedcolor);
}

#menu #currentlink{
	background-image: url('images/favpng_volleyball-icon.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 1.2em;
	padding-left: 1.5em;
}

#menu ul{
	list-style-type: none;
}

#menu ul li{
	margin-top: 0.5em;
}

/*
==============
SEZIONE NEWS
==============
*/

aside{
	grid-area: n;
	padding: 0.5em;
	overflow: hidden;
	background-color: var(--bgcolor);
	overflow: hidden;
}

aside h2 {
	font-size: 1.2em;
	background-color: var(--newscolor);
	color: var(--newstxtcolor);
	padding: 0.2em;
}

aside dl dd {
	margin-left: 1.5em;
}

aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}

/*
==============
SEZIONE CONTENUTO
==============
*/

main{
	grid-area: c;
	color: var(--contentxtcolor);
 	background-color: var(--contentbgcolor);
}

main h1{
	padding: 0.7em;
	padding-top: 0.1em;
	text-align: center;
	line-height: 1.5em;
}

main h2{
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

main>dl{
	width: 95%;
}

#giocatori>dt{
	background-color: var(--breadcolor);
	color: var(--txtcolor);
	font-size: 1.1em;
	padding: 0.5em;
	border: 1px solid #000;
	margin-top: 1em;
}

#giocatori>dd{
	border: 1px solid #000;
	border-top: none;
	padding: 0.5em;
}

#giocatori>dd img{
	float: left;
	width: 20%;
}

#giocatori>dd dl{
	margin-left: 20%;
}

.giocatore dt{
	float: left;
	font-weight: bold;
	padding-right: 0.5em;
}

.giocatore dt::after{
	content: ": "; /*aggiunge i due punti dopo il nome del giocatore*/
}

dt.riconoscimenti{
	float: none; 
}

.list li{
    margin-left: 2em;
}

#de_giorgi{
    width:35%;
    float:left; 
    padding: 1em;
    border-radius: 0% 30% 30% 0%;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer{
    grid-area: f;
    background-color: var(--breadcolor);
    color:var(--txtcolor);
    text-align: center;
    border: 1px solid var(--contentxtcolor);   
}
footer p{
    display:inline;
    font-style: italic;
    font-size: 0.8em;
}