* {
	padding: 0em;
	margin: 0em;
}

:root{
	--bgcolor: #0365AE;
	--txtcolor: #fff;
	--breadcolor: #163f77;
	--newscolor: #F3C42B;
	--newstxtcolor: #000;
	--contentxtcolor: #000;
	--contentbgcolor: #fff;
	--linkcolor: #fff;
	--visitedcolor: #F3C42B;

}

html, body{
	font-size: 100%;
	font-family: "Verdana", sans-serif;
	line-height: 1.5em;
	background-color: var(--bgcolor);
	color: var(--txtcolor);
	margin: auto;
}

html{
	background-image: url('images/bg.webp');
	background-size: contain;
}

body{
	max-width: 1024px;
	border:  1px solid var(--contentxtcolor);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "h h"
    "b b"
    "m c"
    "f f";
}

#homepage{
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "h h h"
        "b b b"
        "m c n"
        "f f f";
}

/*
==============
SEZIONE HEADER
==============
*/

header{
    grid-area: h;
	text-align:  center;
	padding:  1.0em;
	padding-top: 0.7em;
    background: url('images/giannellipalleggio.jpg') right bottom no-repeat,
                url('images/michielettocoppa.jpg') left top no-repeat;
    background-size: 20%, 20%;
}

header h1{
    background-image: url('images/logo_fipav.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}

header h2{
	font-size:  1.8em;
	padding: 0.5em;
	margin-top:  0.3em;
}

/*
==============
SEZIONE BREADCRUMB
==============
*/

#breadcrumb{
    grid-area: b;
	background-color:var(--breadcolor);
	color: var(--txtcolor);
	font-size: 1.1em;
	padding: 0.5em 0em 0.5em 1em;
	border:  1px solid var(--contentxtcolor);
}

#breadcrumb a:link{
	color: var(--linkcolor);
}

#breadcrumb a:visited{
	color: var(--visitedcolor);
}

/*
==============
SEZIONE MENU
==============
*/

#menu{
    grid-area: m;
	width:  25%;
	font-size:  1.3em;
	padding:  0.8em;
}

#menu a:link{
	color: var(--linkcolor);
}

#menu a:visited{
	color: var(--visitedcolor);
}

#menu ul{
	list-style-type: none;
}

#menu ul li{
	margin-top: 0.5em;
}

#menu #currentlink{
    background-image: url('images/favpng_volleyball-icon.png');
    background-position: left center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-left: 1.5em;
}

/*
==============
SEZIONE NEWS
==============
*/

aside{
    grid-area: n;
	padding: 0.5em;
	overflow: hidden;
	background-color: var(--bgcolor);
	color:  var(--txtcolor);
}

aside h2 {
	font-size: 1.2em;
	background-color: var(--newscolor);
	color:  var(--newstxtcolor);
	padding: 0.2em;
}

aside dl dd {
	margin-left: 1.5em;
}

aside dt {
	margin-left: 0.8em;
	font-weight: bold;
}

/*
==============
SEZIONE CONTENUTO
==============
*/

main{
    grid-area: c;
	color: var(--contentxtcolor);
 	background-color: var(--contentbgcolor);
}

main h1, h2{
    text-align: center;
    padding: 0.5em;
}

main>dl{
    width: 95%;
}

#giocatori>dt{
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    font-size: 1.1em;
    padding: 0.5em;
    border: 1px solid #000;
    margin-top: 0.7em;
}

#giocatori>dd{
    border: 1px solid #000;
    border-top: none;
    padding:0.5em;
}

#giocatori>dd img{
    float: left;
    width: 20%;
}

#giocatori>dd dl{
    margin-left: 24%;
}

.giocatore dt{
    float: left;
    font-weight: bold;
    padding-right: 0.5em;
}

.giocatore dt::after{
    content: ": ";
}

dt.riconoscimenti{
    float: none;
}

 /*
==============
SEZIONE FOOTER
==============
*/

footer{
    grid-area: f;
	background-color: var(--breadcolor);
	color: var(--txtcolor);
    text-align: center;
}

footer p{
    display: inline;
    font-style: italic;
    font-size: 0.8em;
}